.menuReservas{
    width: 95%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: black;
    @include fuente; 
    margin: 10px;
}
.casilla{
    background-color:black ;
}
.formContactoReservas{
    width: 450px;
    height:450px;
    background-color: black;
    @include fuente;
    margin: 60px;
}
@mixin flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botones {
    @include flexrow;
}
.formReservas{
    @include flexrow;
}

.favorito{
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    margin-left: 25rem;
}